<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	
	<!--
		이 문장이 있어야 Auto wired 읽을 수 있음 <context:annotation-config />		
	 -->
	
	<bean id="user1" class="kr.co.itcen.springcontainer.user.User" />
	<bean id="user2" name = "usr2" class="kr.co.itcen.springcontainer.user.User" />
	
	<!--  기본 생성자 없어도 됨 -->
	<bean id="user3" class="kr.co.itcen.springcontainer.user.User" >		
		<constructor-arg index="0" value="3" />
		<constructor-arg index="1" value="김승곤" />
	</bean>
	
	<bean id="user4" class="kr.co.itcen.springcontainer.user.User" >
		<property name="no" value = "4" />
		<property name="name" value = "하이" />
	</bean>
	
	<bean id="user5" class="kr.co.itcen.springcontainer.user.User" >
		<property name="no" value = "5" />
		<property name="name" value = "마이콜" />
		<!-- DI(주입, 순서상관X) -->
		<property name="friend" ref="friend1"/>								
	</bean>
	
	
	<bean id="user6" class="kr.co.itcen.springcontainer.user.User" >
		<property name="no" value = "6" />
		<property name="name" value = "둘리" />
		
		<property name="friend">
			<bean class="kr.co.itcen.springcontainer.user.Friend" >
				<constructor-arg value="길동" /> 
			</bean>
		</property>
		<property name="friends">
			<list>
				<value>또치1</value>
				<value>또치2</value>
				<value>또치3</value>
				<value>또치4</value>
				<value>또치5</value>
			</list>
		</property>								
	</bean>
	
	
	<bean id="friend1" class="kr.co.itcen.springcontainer.user.Friend" >
		<constructor-arg value="희동이"  />
	</bean>
	
		
		
</beans>